.doc {
    position: absolute;
    top: 7%;
    right: 0.5%
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: 100%;

}

.topbar {
    font-size: 20px;
    background-color: rgba(167, 218, 242, 0.829);
    border-radius: 10px;
    height: 280px;
    width: 800px;
    padding: 20px;
    padding-top: 100px;
}